*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 56.25%;
    }

    @include respond(tab-port){
        font-size: 50%;
    }

    @include respond(big-desktop){
        font-size: 75%;
    }

    @include respond(phone){
        font-size: 40%;
    }
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    padding: 2rem;
}

img{
    width: 50%;
}
